/* common shared style  */
body {

    font-family: 'Open Sans', sans-serif;
}

.title-word {

    color: rgb(25, 24, 24);
    font-size: 45px;font-weight: 800;
}
.title-letter {

    color: orange;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav > ul{ 
display: flex; 
 align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
    color: blue;
}
.btn-style {

    background-color: orange;
    border: none;padding: 15px 35px;
    color: aliceblue;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 800px;

}