/* common font style */
body{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{

    border-radius: 5px;
    background-color: orange;
    border: none;
    padding: 15px 35px;
    color: azure;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.btn-secondary{
    cursor: pointer;

    border-radius: 5px;
    background-color: white;
    border: none;
    padding: 15px 35px;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.btn-primary:hover{
    color: brown;
    background-color: blue;
    

}
.btn-secondary:hover{
    color: brown;
    background-color: blue;
   

}


/* nav realeted style */
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    font-size: 45px;

}
.letter{
    color: orange;
}
nav > ul {

    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 50px;
   
}
nav a {
    text-decoration: none;
}
.header{
    background-color: aquamarine;
    background-image: url('../download.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 400px 300px ;
    
}

.banner{
    padding: 30px 30px 0px 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    

}

.banner-content{
    max-width: 500px;
    
}
.man{
    width: 300px;
    height: 250px;
   
  
}

.banner-greeting{

    font-size: 45px;
    color: grey;
   margin-bottom: 5px;

}

.banner-title{
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner-description
{
margin-top: 0px;

}
.btn {

    margin-bottom: 20px;
}


/* about section  */
.about {
    padding: 130px;
    /* border-radius: 10px; */
    background: darkgray;
    margin: 130px;
   
}
.about-title{

    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.about-description{

    text-align: center;
    font-size: 18px;
}

/* main section  */
main {

    max-width: 1140px;
    margin: 0px auto;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.about-description{

    text-align: center;
    padding: 30px 150px;
}
.chobi{

    width: 50px;
    height: 50px;
}
.for-border{

    border:none;
    width: 150px;
    padding: 30px;
    margin: 20px;
    background-color: white;
    box-shadow: whitesmoke 10px 10px;
}
.skill-container{
    display: flex;
    justify-content: space-around;
}
/* .main-div{
    display: flex;
    justify-content: center;
  margin: auto;

}
.head-resume{
    text-align: center;
}
.edu{
border: 1px solid blue;
text-align: center;

}
.fo-border
{
    border: 1px solid blue;
    width: 300px;
    margin: 20px;
  padding: 5px;

} */

.column-iteam{

  
}

.column-container{
    display: flex;
    gap: 50px; margin: 0px 200px;
    
}
.university, .description{
    color: gray;
}
.educational {

    font-size: 25px;
}
.resume-column-title {

    font-size: 32px;
}

.head-resume{
    font-size: 40px;
    text-align: center;

}
.cv{
    text-align: center;
}